# System files
.CFUserTextEncoding
.Genymobile/
.anydesk/
.bash_history
.bashrc.save
.bundle/
.config/
.dart-tool/
.emulator_console_auth_token
.flutter
.gem/
.gitconfig
.gradle/
.idlerc/
.lemminx/
.lesshst
.m2/
.mongodb/
.mysql_history
.npm/
.nvm/
.pub-cache/
.redhat/
.scenebuilder/
.viminfo
.vscode-react-native/
.yarnrc
.zcompdump
.zprofile
.zsh_history
.zsh_sessions/
.zshrc
.zshrc.save

# Applications, files, and directories outside the BabyQ_frontend project
Applications/

.localized
20232469_w2082248_Dinuli_OOP_cw/


CIMA/
FirstProject/
Google\ Chrome.app/
Google\ Drive/
IIT/
Microsoft\ Teams/
Screenshots/
ToDoList/
babyQ_backend/
organ\ ad.docx
~$OSC025C_CW1Report_temp.docx
Documents/
Downloads/
Library/
Movies/
Music/
My\ Drive/
MyApp/
OneDrive/
Pictures/
Public/
development/
dinuli.20232469@iit.ac.lk\ -\ Google\ Drive/
dinulihendawitharana03@gmail.com\ -\ Google\ Drive/
event-ticketing-frontend/
firmware/
iCloud\ Drive\ \(Archive\)\ -\ 1/
iCloud\ Drive\ \(Archive\)/
node_modules
# Ignore .DS_Store files
.DS_Store

# Ignore Google Drive, OneDrive, and related folders
Google\ Drive/
Microsoft\ Teams/
My\ Drive\ \(dinuli.20232469@iit.ac.lk\)/
OneDrive/
dinuli.20232469@iit.ac.lk\ -\ Google\ Drive/
dinulihendawitharana03@gmail.com\ -\ Google\ Drive/

