# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# Ignore personal or system-related files and directories
.CFUserTextEncoding
.DS_Store
.Genymobile/
.android/
.anydesk/
.bash_history
.bashrc.save
.bundle/
.config/
.dart-tool/
.emulator_console_auth_token
.expo/
.flutter
.gem/
.gitconfig
.gitignore
.gradle/
.idlerc/
.lemminx/
.lesshst
.m2/
.mongodb/
.mysql_history
.npm/
.nvm/
.pub-cache/
.redhat/
.scenebuilder/
.viminfo
.vscode-react-native/
.vscode/
.yarnrc
.zcompdump
.zprofile
.zsh_history
.zsh_sessions/
.zshrc
.zshrc.save

# Ignore specific folders or files outside of the project directory
BabyQ/
.$BabyQ.png.bkp
.localized
20232469_w2082248_Dinuli_OOP_cw/
BabyQ app/
BabyQ_App/
CIMA/
FirstProject/
Google Chrome.app/
Google Drive/
IIT/
Microsoft Teams/
Screenshots/
ToDoList/
babyQ_frontend.zip
organ ad.docx
~$OSC025C_CW1Report_temp.docx
Documents/
Downloads/
Library/
Movies/
Music/
My Drive (dinuli.20232469@iit.ac.lk)/
MyApp/
Pictures/
Public/
development/
dinuli.20232469@iit.ac.lk - Google Drive/
dinulihendawitharana03@gmail.com - Google Drive/
event-ticketing-frontend/
firmware/
iCloud Drive (Archive) - 1/
iCloud Drive (Archive)/
